

<div class="whole">
<div class="top" @fromTopp>
    <div id = topCont >
      <a href="/home-page" style="text-decoration: none;">Home</a>
      <a href="/education" style="text-decoration: none;">Education</a>
      <a href="/projects" style="text-decoration: none;">Projects</a>
      <a href="/Gaming" style="text-decoration: none;">Gaming</a>
      <a href="/Contact" style="text-decoration: none;">Contact</a>
    </div>
  </div>
<div  class = "bottom">
    <div class="contain"  @fromTop>
      <div class="edu" >
        <div class="image">
          <img src="School.jpeg">
        </div>
        <div class="detail">
          <h1>SSLC</h1>
          <h2 style="display: inline;">School : </h2><h3 style="display: inline; " >Good ShepHerd Matriculation Higher Secondary School, Marthandam</h3>
            <div class="mark">
          <h2 style="display: inline;">Percentage : </h2><h3 style="display: inline;" >93.8 %</h3>
            </div>
        </div>
      </div>
      <div class="edu">
        <div class="image">
          <img src="School.jpeg">
        </div>
        <div class="detail">
          <h1>HSC</h1>
          <h2 style="display: inline;">School : </h2><h3 style="display: inline;" >Good ShepHerd Matriculation Higher Secondary School, Marthandam</h3>
            <div class="mark">
          <h2 style="display: inline;">Percentage : </h2><h3 style="display: inline;" >94.67 %</h3>
            </div>
        </div>
      </div>
      <div class ="edu">
        <div class="image">
          <img src="mepco.jpeg">
        </div>
        <div class="detail">
          <h1>B.E(Computer Science)</h1>
          <h2 style="display: inline;">College : </h2><h3 style="display: inline; " >Mepco Schlenk Engineering College, Sivakasi</h3>
            <div class="mark">
          <h2 style="display: inline;">CGPA : </h2><h3 style="display: inline;" >8.04</h3>
            </div>
        </div>
      </div>
    </div>

</div>
