

<div class="whole">
<div class="top" @fromTopp>
    <div id = topCont >
      <a href="/home-page" style="text-decoration: none;">Home</a>
      <a href="/education" style="text-decoration: none;">Education</a>
      <a href="/projects" style="text-decoration: none;">Projects</a>
      <a href="/gaming" style="text-decoration: none;">Gaming</a>
      <a href="/Contact" style="text-decoration: none;">Contact</a>
    </div>
  </div>
<div  class = "bottom">
    <div class="contain"  @fromLeft1>

      <h1>BATTLEGROUND MOBILE INDIA (ID : 5892304288)</h1>
      <div class ="totvid">
        <div class="vid" >

            <h2 style="color: aliceblue;"> 1 V 4</h2>
            <video src="clutch.mp4" controls></video>
       
        </div>
      </div>
      <div class ="totvid">
        <div class="vid">
            <h2 style="color: aliceblue;"> Ultimate View</h2>
            <video src="view.mp4" controls></video>
        
    
        </div>
      </div>
      <div class ="totvid">
        <div class ="vid">
          <h2 style="color: aliceblue;"> Car Spray </h2>
          <video src="spray.mp4" controls></video>
        
        </div>
    </div>

</div>
